<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                <ion-icon name="speedometer"></ion-icon>
                Meter App
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>Version {{ version }}</ion-card-content>
        <ion-card-content>
            Application created by Craig Gregory
        </ion-card-content>
    </ion-card>
</ion-content>
